*{
    margin: 0;
    padding: 0;
}

body{
    margin :0;
    padding:0;
    font-family : sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/login.jpg');
    background-size:cover  ;
}

.box
{
    width : 300px;
    height:250px;
    padding :40px;
    position :absolute;
    top:50%;
    left:50%;
    background-color:none;
    transform :translate(-50%,-50%);
    text-align: center;
}
.box h1{
    color :white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"], .box input[type = "password"]
{
    border :0;
    background: none;
    display :block;
    margin :20px auto;
    text-align: center ;
    border :2px solid #fdfdfd;
    padding :14px 10px;
    width :200px;
    outline :none;
    color :black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type= "text"]:hover,.box input[type= "password"]:hover
{
    background :white;
}

.box input[type="text"]:focus , .box input[type = "password"]:focus
{
    width :280px;
    border-color:white;
}

.box input[type = "submit"]
{
    border :0;
    background: none;
    display :block;
    margin :20px auto;
    text-align: center ;
    border :2px solid white;
    padding :14px 40px;
    outline :none;
    color : white;
    border-radius: 24px;
    transition: 0.25s;
    cursor :pointer;
}
.box input[type = "submit"]:hover
{
    background : white;
}

.box input[type="submit"]:focus
{
    width :150px;
    border-color:white;
}

#navbar{
    display : flex;
    align-items: center;
}

#navbar
{
    position :sticky;
}

/* logo and image */

#logo{
    margin: 10px 30px;
}

#logo img{
    margin: 3px 6px;
    height :56px;
}

/* list styling */
#navbar ul{
    display : flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
    content : "";
    background-color: black;
    position: absolute;
    height : 100%;
    width :100%;
    z-index :-1;
    opacity : 0.3;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color :white;
    display : block;
    padding : 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color :black;
    background-color: white;
}
#home p{
    color :white;
    text-align: center;
    font-size :1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}